nav {
  background: #5677be;
  color: #fff;
  height: var(--nav-height);
  font-size: 22px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.flex-container {
  display: flex;
  app-conversation-list {
    flex: 1;
    height: calc(100vh - var(--nav-height));
  }
  
}
