:host {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  transition: all 0.2s;
  width: 300px;
}
:host:hover {
  background-color: gray;
  span {
    color: white;
  }
}

img {
  border-radius: 50%;
  width: 50px;
}

span {
  margin: 0 10px;
  transition: all 0.2s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
