:host {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
  border-radius: 50px;
}
:host:hover {
  background-color: gray;
  span {
    color: white;
  }
}

img {
  border-radius: 50%;
  width: 50px;
}

span {
  margin-left: 20px;
  transition: all 0.2s;
}
